<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categoria</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button (click)="toggleArtes()"  expand="block" color="primary" size="large">Arte</ion-button>
    <ion-button (click)="toggleArtes()" expand="block" color="primary" size="large">Historia</ion-button>
    <ion-button (click)="toggleArtes()" expand="block" color="primary" size="large">Ciencia Ficción </ion-button>
    <ion-button (click)="toggleArtes()" expand="block" color="primary" size="large">Derecho</ion-button>    
  </div>
  <div *ngIf="showArtes" class="product-list">
    <ion-item *ngFor="let producto of lProductos" [routerLink]="['/administracion/editarproducto/editarproductos', producto.id]">
      <ion-avatar slot="start">
        <img [src]="producto.Image" alt="{{ producto.nombre }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.editorial }} - {{ producto.anio }}</p>
        <p>Precio: {{ producto.precio | currency:'CLP':true }}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<style>
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .product-list {
    margin-top: 10px;
  }
</style>