/* accesibilidad-modal.component.scss */

/* Estilos para texto grande */
.texto-grande {
    font-size: 1.5em; /* Ajusta según sea necesario */
  }
  
  /* Estilos para alto contraste */
  .alto-contraste {
    background-color: black; /* Fondo oscuro */
    color: white; /* Texto blanco */
  }
  